.clearfix:after {
    content: '';
    display: block;
    clear: both;
  }
a:link {
    color : black;
  }
  ul {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

.tab-list a{
    position:relative;
	width:100%;
	height:41px;
	line-height:40px;
	padding:0;
	text-align:center;
	color:#222;
	font-size:1.0667em;
	text-decoration:none

}

.tab-list a{
float: left;
width: 25%;
display: block;
margin-top:30px;
}

.info{
	border: 1px solid #503396;
    border-bottom: 0;
}
.review{
	border-bottom: 1px solid #503396;
	border-top: 1px solid #ebebeb;
	border-left:1px solid #503396; 
	border-right: 1px solid #ebebeb;
}
.moviepost{
	border: 1px solid #ebebeb;
	border-bottom: 1px solid #503396;
}
.trailer{
	border: 1px solid #ebebeb;
	border-bottom: 1px solid #503396;
}

.movie-detailin .wrap {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding: 0;
  }
 

  
 

.movie-summary {
	margin:20px 0 0 0
    
}
.movie-summary .txt {
	overflow:hidden;
	height:120px
    
}
.movie-summary.on .txt {
	height:auto
}
.movie-summary .txt:first-line {
	color:#222;
	font-size:2em;
	font-weight:400;
	line-height:70px
}
.movie-summary .btn-more {
	padding:30px 0 0 0
}

button {
    cursor: pointer;
    letter-spacing: -.5px;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}
.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.ico-btn-more-arr {
	width:12px;
	height:7px;
	background-image:url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-btn-more-arr.png)
}
.ico-btn-more-arr.on {
	transform:rotate(180deg)
}
.btn-more {
	position:relative;
	padding:40px 0 0 0
}
.btn-more .btn {
	display:block;
	width:100%;
	margin:0;
	padding:0;
	height:40px;
	border:0;
	border-bottom:1px solid #eaeaea;
	background-color:transparent;
	color:#666
}



.movie-info {
	padding:30px 0;
	color:#222
}
.movie-info p {
	margin:0;
	padding:0
}
.movie-info .line p {
	display:inline-block;
	position:relative;
	margin:0;
	padding:0 0 0 20px
}
.movie-info .line p:before {
	content:'';
	display:block;
	position:absolute;
	left:9px;
	top:50%;
	width:1px;
	height:13px;
	margin:-6px 0 0 0;
	background-color:#d8d9db
}
.movie-info .line p:first-child {
	padding:0
}
.movie-info .line p:first-child:before {
	display:none
}
.movie-graph {
	display:table;
	width:100%;
	table-layout:fixed;
	border-collapse:collapse
}
.movie-graph .col dl {
	text-align:center;
	font-weight:400
}
.movie-graph .col dl dt {
	font-size:1.0667em;
	color:#555
}
.movie-graph .col dl dd {
	padding:0 0 30px 0;
	font-size:2em;
	color:#503396
}
.movie-graph .col dl dd.font-roboto {
	font-size:2.2em
}
.movie-graph .col {
	display:table-cell;
	width:25%;
	border:1px solid #eaeaea;
	padding:30px 0
}
.movie-graph .col .graph1 {
	overflow:hidden;
	width:216px;
	height:216px;
	margin:0 auto
}
.movie-graph .col .graph1 {
	background-image: url(../../../../assets/icons/chart1.png);
    background-position: center 2px;
    background-size: 100% 100%;
}
.movie-graph .col .graph2 {
	overflow:hidden;
	width:216px;
	height:216px;
	margin:0 auto
}
.movie-graph .col .graph2 {
	background-image: url(../../../../assets/icons/chart2.png);
    background-position: center 2px;
    background-size: 100% 100%;
}
.movie-graph .col .graph3 {
	overflow:hidden;
	width:216px;
	height:216px;
	margin:0 auto
}
.movie-graph .col .graph3 {
	background-image: url(../../../../assets/icons/chart3.png);
    background-position: center 2px;
    background-size: 100% 100%;
}
.movie-graph .col .score {
	position:relative;
	height:186px;
	margin:30px 0 0 0;
	text-align:center
}
.movie-graph .col .score .circle {
	overflow:hidden;
	display:block;
	position:absolute;
	color:#fff;
	font-size:2em;
	font-family:roboto;
	font-weight:400
}
.movie-graph .col .score .before .circle {
	background-color:#33a1b8
}
.movie-graph .col .score .after .circle {
	background-color:#6543b1
}
.movie-graph .col .score .middle .circle {
	background-color:#6543b1
}
.movie-graph .col .score p {
	position:absolute;
	bottom:0;
	margin:0;
	padding:0;
	font-size:.9333em;
	font-weight:400;
	color:#666
}
.movie-graph .col .score.lt .before .circle {
	left:36px;
	top:12px;
	z-index:11;
	width:95px;
	height:95px;
	line-height:95px;
	border-radius:95px
}
.movie-graph .col .score.lt .after .circle {
	right:36px;
	top:0;
	z-index:12;
	width:120px;
	height:120px;
	line-height:120px;
	border-radius:120px
}
.movie-graph .col .score.lt .before p {
	left:65px
}
.movie-graph .col .score.lt .after p {
	left:160px
}
.movie-graph .col .score.gt .before .circle {
	left:36px;
	top:0;
	z-index:12;
	width:120px;
	height:120px;
	line-height:120px;
	border-radius:120px
}
.movie-graph .col .score.gt .after .circle {
	right:36px;
	top:12px;
	z-index:11;
	width:95px;
	height:95px;
	line-height:95px;
	border-radius:95px
}
.movie-graph .col .score.gt .before p {
	left:75px
}
.movie-graph .col .score.gt .after p {
	left:170px
}
.movie-graph .col .score.equal .before .circle {
	left:36px;
	top:12px;
	z-index:11;
	width:95px;
	height:95px;
	line-height:95px;
	border-radius:95px
}
.movie-graph .col .score.equal .after .circle {
	right:36px;
	top:12px;
	z-index:12;
	width:95px;
	height:95px;
	line-height:95px;
	border-radius:95px
}
.movie-graph .col .score.equal .middle .circle {
	left:75px;
	top:12px;
	z-index:12;
	width:120px;
	height:120px;
	line-height:120px;
	border-radius:120px
}
.movie-graph .col .score.equal .before p {
	left:70px
}
.movie-graph .col .score.equal .after p {
	left:160px
}
.movie-graph .col .score.equal .middle p {
	left:115px
}